.section-program {
    padding-bottom: 20px;
}

.program__style-h2 {
    margin-bottom: 8px;
}

.program__catalog {
    margin-bottom: 16px;
}

.program__catalog-list:not(:last-child) {
    margin-bottom: 8px;
}

.program__box {
    display: flex;
}
.program__box--column {
    margin-top: 37px;
    margin-left: 20px;
}
.program__box-list {
    width: 130px;
    height: 130px;
    padding-top: 48.62px;

    text-align: center;
    
    background: #FEF3E4;
    box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
    border-radius: 50%;
}
.program__box-list:not(:last-child) {
    margin-bottom: 24px;
}

.program__box-text {
    margin-bottom: 4px;
    
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.28;
    
    text-align: center;
    
    color: #000000;
}
.program__box-specification {
    margin-bottom: 8px;

    font-size: 14px;
    line-height: 1.21;
    
    text-align: center;
    
    color: #000000;
}
.program__box-icon {
    width: 19px;
    height: 19px;
}

.program-btn {
    margin-bottom: 20px;

    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.28;
    
    text-align: center;
    
    color: #AB816C;
    background-color: #FFFFFF;
    border: none;
}

.program__text {
    height: 40px;
    overflow: hidden;
    transition: height 350ms var(--cubic);
    &--open {
        margin-top: 8px;
    }
}

.open {
    height: 148px;
}