.section-reviews {
  &__title {
    color: $colorText;
    font-family: 'Caveat Brush';
    font-size: 24px;

    text-align: center;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 180px;
      font-size: 36px;
      line-height: 1.81;
    }
  }
}

.container-reviews {
  position: relative;
}

.reviews-bcg {
  z-index: -100;

  position: absolute;
  content: '';
  width: 320px;
  height: 1337px;
  top: 15px;
  left: 0;

  background-image: url(../images/reviews/rev-bcg/rev-bg-320.png);
  background-size: 320px 1337px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/reviews/rev-bcg/rev-bg-640@2x.png);
  }

  @media screen and (min-width: 768px) {
    top: -23px;

    background-size: 768px 1512px;
    width: 768px;
    height: 1512px;
    background-image: url(../images/reviews/rev-bcg/rev-bg-768.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/reviews/rev-bcg/rev-bg-1536@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    top: -36px;

    background-size: 1280px 1861px;
    width: 1280px;
    height: 1861px;
    background-image: url(../images/reviews/rev-bcg/rev-bg-1280.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/reviews/rev-bcg/rev-bg-2560@2x.png);
    }
  }
}

.portret-feedback-wrapper {
  @extend %centredColumnFlex;
}

.clients-portret {
  @extend %centredColumnFlex;
  gap: 8px;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    max-width: 336px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 394px;
  }

  &__client {
    font-style: italic;
    font-weight: 500;

    @media screen and (max-width: 1279px) {
      font-size: 14px;
      line-height: 1.21;
    }
  }
}

.stars-container {
  &__icon {
    fill: $colorButton;
    transform: scale(1);
    transition: fill 0.2s ease-in-out;
    // transition: fill $generalAnimation;

    &:hover,
    &:focus {
      fill: #ceb303;
      transform: scale(1.3);
      cursor: pointer;
    }
  }
}

.clients-portret--john {
  display: none;

  @media screen and (min-width: 768px) {
    position: absolute;
    content: '';
    top: 15px;
    left: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 8px;
    max-width: 151px;
  }

  @media screen and (min-width: 1280px) {
    top: 100px;
    left: 125px;
    max-width: 285px;
  }
}

.clients-portret--eliz {
  display: none;
  @media screen and (min-width: 768px) {
    position: absolute;
    content: '';
    top: 15px;
    right: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 8px;
    max-width: 151px;
  }

  @media screen and (min-width: 1280px) {
    top: 100px;
    right: 125px;
    max-width: 285px;
  }
}

.clients-feedback {
  @extend %centredColumnFlex;
  gap: 32px;

  &__text {
    text-align: center;
  }

  &__pagination {
    position: relative;
    color: $colorButton;

    @media screen and (max-width: 1279px) {
      font-size: 14px;
      line-height: 1.21;
    }
  }
}

.clients-feedback__pagination::before {
  background-color: currentColor;
  display: block;
  position: absolute;
  content: '';
  top: 50%;
  right: 12px;
  width: 35px;
  height: 1px;
  transform: translateX(-50%);
}

.clients-feedback__pagination::after {
  background-color: currentColor;
  display: block;
  position: absolute;
  content: '';
  top: 50%;
  left: 12px;
  width: 35px;
  height: 1px;
  transform: translateX(50%);
}
