// Text
$colorText: #2e2520;
$colorH2-h3: #2e2520;
$colorTextHover: #876655;

// Button
$colorButton: #ab816c;
$colorTextButton: #ffffff;

// Background
$colorBackgroundLight: #fffff9;
$colorBackgroundDark: #fef3e4;

// Animation
$generalAnimation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
