<section class="section section__footer">
  <div class="containr footer">
    <h2 class="footer__name">Contact</h2>
    <strong class="footer__title">We will answer any question!</strong>
    <label for="mail"></label>
    <input
      class="sub__input"
      type="email"
      name="mail"
      id="mail"
      placeholder="Email"
    />
    <label for="question"></label>
    <textarea
      rows="1"
      name="question"
      placeholder="Type your question"
      id="question"
    ></textarea>
    <button class="footer__btn" type="button">Send</button>

    <ul class="footer-social">
      <li class="footer-social__item">
        <a
          class="footer-social__link"
          target="_blank"
          href="https://twitter.com/?lang=uk"
          aria-label="иконка твитер"
        >
          <svg class="footer-social__icon" width="16" height="16">
            <use href="./images/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social__item">
        <a
          class="footer-social__link"
          target="_blank"
          href="https://www.instagram.com/"
          aria-label="иконка инстаграм"
        >
          <svg class="footer-social__icon" width="16" height="16">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social__item">
        <a
          class="footer-social__link"
          target="_blank"
          href="https://uk-ua.facebook.com/"
          aria-label="иконка фейсбук"
        >
          <svg class="footer-social__icon" width="16" height="16">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul class="footer-tel">
      <li class="footer-tel__item">
        <a class="footer-tel__link" target="_blank" href="tel:(910)222-8855">
          <svg class="footer-tel__icon" width="13" height="12">
            <use href="./images/sprite.svg#icon-telephone"></use>
          </svg>
          (910)222-8855
        </a>
      </li>
    </ul>
    <a
      class="footer-city"
      target="_blank"
      href="https://goo.gl/maps/LUEGGQbdnjC8iEGa6"
    >
      <svg class="footer-city__icon" width="11" height="13">
        <use href="./images/sprite.svg#icon-location"></use>
      </svg>
      New York</a
    >
  </div>
</section>
