<section>
    <h2>Program</h2>
    <p>Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York donut shop!</p>
    <ul>
        <li>A stand up history of donuts</li>
        <li>Make 3 donut flavors of your choice</li>
        <li>Cocktail pairings and coffee included</li>
        <li>Enjoy all-you-can-eat donuts</li>
        <li>Photoshoot by professional photographer</li>
        <li>Secret receipt of cooking from Eva</li>
        <li>All products are included in the price</li>
    </ul>
    <button>Read more</button>
    <ul>
        <ul>
            <li>
                <!-- <img src="./images/programe/pic1.png" alt=""> -->
                <h3>Type of the event</h3>
                <p>Cooking classes</p>
                <svg width="25" height="25">
                    <use href="./images/sprite.svg#icon-Frame-1"></use>
                </svg>
            </li>
            <li>
                <!-- <img src="./images/programe/pic2.png" alt=""> -->
                <h3>Number of guests</h3>
                <p>1 to 20</p>
                <svg width="25" height="25">
                    <use href="./images/sprite.svg#icon-Frame-2"></use>
                </svg>
            </li>
            <li>
                <!-- <img src="./images/programe/pic3.png" alt=""> -->
                <h3>Time of the event</h3>
                <p>18:30 (2.5 hours)</p>
                <svg width="25" height="25">
                    <use href="./images/sprite.svg#icon-Frame-3"></use>
                </svg>
            </li>
            <li>
                <!-- <img src="./images/programe/pic4.png" alt=""> -->
                <h3>The host speaks</h3>
                <p>English, French</p>
                <svg width="25" height="25">
                    <use href="./images/sprite.svg#icon-Frame-4"></use>
                </svg>
            </li>
        </ul>
    </ul>
</section>