<section class="section section-reviews">
  <div class="container container-reviews">
    <h2 class="section-title section-reviews__title section-reviews--bcg">
      Reviews
    </h2>
    <div class="reviews-bcg"></div>
    <div class="portret-feedback-wrapper">
      <div class="clients-portret">
        <img
          srcset="
            ./images/reviews/clients/will/will-280.png    280w,
            ./images/reviews/clients/will/will-336.png    336w,
            ./images/reviews/clients/will/will-394.png    394w,
            ./images/reviews/clients/will/will-560@2x.png 560w,
            ./images/reviews/clients/will/will-672@2x.png 672w,
            ./images/reviews/clients/will/will-788@2x.png 788w
          "
          src="./images/reviews/clients/will/will-280.png"
          alt="Will"
          sizes="(min-width: 1280px) 394px, (min-width: 768px) 336px, (min-width: 320px) 280px, 280px"
        />
        <div class="stars-container">
          <svg class="stars-container__icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
          <svg class="stars-container__icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
          <svg class="stars-container__icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
          <svg class="stars-container__icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
          <svg class="stars-container__icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
        </div>

        <p class="clients-portret__client">Will</p>
      </div>

      <div class="clients-portret--john">
        <img
          srcset="
            ./images/reviews/clients/john/john-151.png    151w,
            ./images/reviews/clients/john/john-285.png    285w,
            ./images/reviews/clients/john/john-302@2x.png 302w,
            ./images/reviews/clients/john/john-570@2x.png 570w
          "
          src="./images/reviews/clients/john/john-151.png"
          alt="John"
          sizes="(min-width: 1280px) 285px, (min-width: 768px) 151px, (min-width: 320px) 280px, 280px"
        />
        <div class="stars-container">
          <svg class="stars-container__icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
          <svg class="stars-container__icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
          <svg class="stars-container__icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
          <svg class="stars-container__icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
          <svg class="stars-container__icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
        </div>

        <p class="clients-portret__client">John</p>
      </div>

      <div class="clients-portret--eliz">
        <img
          srcset="
            ./images/reviews/clients/eliz/eliz-152.png    152w,
            ./images/reviews/clients/eliz/eliz-288.png    288w,
            ./images/reviews/clients/eliz/eliz-304@2x.png 304w,
            ./images/reviews/clients/eliz/eliz-576@2x.png 576w
          "
          src="./images/reviews/clients/eliz/eliz-152.png"
          alt="Elisabeth"
          sizes="(min-width: 1280px) 285px, (min-width: 768px) 151px, (min-width: 320px) 280px, 280px"
        />
        <div class="stars-container">
          <svg class="stars-container__icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
          <svg class="stars-container__icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
          <svg class="stars-container__icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
          <svg class="stars-container__icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
          <svg class="stars-container__icon" width="24px" height="24px">
            <use href="./images/sprite.svg#icon-Star-1"></use>
          </svg>
        </div>

        <p class="clients-portret__client">Elisabeth</p>
      </div>
      <div class="clients-feedback">
        <p class="clients-feedback__text">
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </p>
        <p class="clients-feedback__pagination">1/1</p>
      </div>
    </div>
  </div>
</section>
